Directoras médicas:
Dra. Ana Béjar Frías
Licenciada en odontología por la Universidad Complutense de Madrid 2010
-Máster Oficial en Ortodoncia Avanzada por la Universidad Europea de Madrid 2013
-Máster de Ortodoncia Lingual de Incógnito® por la Universidad Politécnica de Cataluña 2014
-Certificado Invisalign® 2014
-Ortodoncista y responsable del área de ortodoncia en Clínica Dental Recoletos Cuatro 2012-2014




Dra. María Llerandi Fernández
-Licenciada en odontología por la Universidad Europea de Madrid 2005
( reconocimiento al mejor expediente academico de los graduados en el curso academico  2004/2005 por la UEM  y primer premio nacional fin de Carrera de educación universitaria de los estudios de odontología a nivel nacional otorgado por el Ministerio de Educación y Ciencia)
-Master Avanzado de Prótesis e Implantoprotesis por la Universidad Europea de Madrid 2005-2008
-Cursos de formación continuada en estética dental a nivel nacional e internacional.
-Responsable del area de prótesis de la Clínica Recoletos Cuatro de Valladolid. 2006-2014
-Miembro de la sociedad española de prótesis SEPES