{% extends 'base_template.html' %}
{% load staticfiles %}



{% block head %}
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/chat.css" %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Chat</title>

    <script type = text/javascript>
        $(document).ready(function(){
            $(".chat").click(function(){
                $.ajax({
                    url:'/chat/24/3/',
                    type: "POST",
                    data: {'message':$("textarea").val()},
                    dataType: "json",
                    success: function(data) {
                        $("textarea").html('');
                    },
                    error: function(data) {

                    }
                });
            })

            function get_chat_msg(){
                $.ajax({
                    url:'/get_chat/24/3/',
                    type: "GET",
                    dataType: "json",
                    success: function(data) {
                        $("#content").html(data);
                    },
                    error: function(data) {

                    }
                });
            }

           setInterval(get_chat_msg, 1000);
        });

    </script>
</head>
{% endblock %}

{% block content %}
    <h1>Lets chat</h1>
    <div id = "content" >
        <p>Here's our chat data</p>
    </div>
{#    <form>#}
        <div id=message">
            <textarea name="chat" id="textarea" cols="30" rows="2">Leave a comment</textarea>
            <button class="chat">post!</button>
        </div>
{#    </form>#}

<h1>{{ sender }}</h1>
<h1>{{ receiver }} </h1>

{% endblock content %}
