{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "css/clinica.css" %}"/>
    <title>Simple markers</title>
  </head>
  <body>
    <div id="map-canvas"></div>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&AIzaSyCt6WXr-VMusVby6oNnTeqd4wH6-ZEpRxI"></script>
    <script src="../static/js/map1.js" type="text/javascript"></script>
  </body>
</html>