{% extends 'base_template.html' %}
{% load staticfiles %}


{% block content %}

<h2>TRATAMIENTOS</h2>
<ol>
    <li><h3>Odontología conservadora y restauradora </h3>

        <p>
            La odontología conservadora y restauradora nos permite prevenir, detener y curar la caries dental en todas
            sus
            fases desde la menor a la mayor destrucción de tejido dentario. La caries dental puede afectar levemente a
            la
            estructura dentaria, destruyendo únicamente el esmalte o progresar a estadios más graves, invadiendo tejidos
            más
            profundos como son la dentina o la pulpa dental.
            El tratamiento de la caries dental se basa en la eliminación del tejido infectado y la posterior
            reconstrucción
            del tejido perdido con materiales biocompatibles, reestableciendo la anatomía del diente. Se puede hacer de
            manera directa en boca (obturaciones) o en el laboratorio (incrustaciones).
        </p>

        <h5>Proceso caries dental</h5>
        <img src="{% static "img/tratamientos/caries.png" %}" width="350" alt=""/>

        <h5>incrustación</h5>
        <img src="{% static "img/tratamientos/amalgama.png" %}" width="350" alt=""/>

        <h5>Obturación amalgama plata y composite</h5>
        <img src="{% static "img/tratamientos/amalgama2.png" %}" width="350" alt=""/>
    </li>

    <li>
        <h3>Endodoncia</h3>

        <p>El endodoncista es el especialista de la odontología que estudia todo lo relacionado con el diagnóstico y el
            tratamiento de los conductos radiculares.</p>
        <img src="{% static "img/tratamientos/endodoncia.gif" %}" width="350" alt=""/>
    </li>
    <li>
        <h3>Odontopediatría</h3>

        <p>La odontopediatría es la rama de la odontología encargada de tratar los dientes de los niños, desde el
            nacimiento a
            los 6 años cuidando sus dientes temporales, y hasta los 12 años cuando finaliza la dentición mixta y se
            inicia la
            definitiva.</p>

        <p>Los odontopediatras se encargan de detectar precozmente las anomalías de la posición de los maxilares para
            remitir
            el paciente al ortodoncista y cirujano maxilofacial y así, poder modificar o frenar el crecimiento de estos
            huesos.
            Asimismo detecta los malos hábitos con el fin de reeducarlos, realiza un tratamiento restaurador en caso de
            caries
            dental o sellador para prevenir futura patología e informa sobre procedimientos de higiene oral para
            conseguir un
            crecimiento sano de la cavidad bucal.</p>
        <img src="{% static "img/tratamientos/colocacion.jpg" %}" width="600" alt=""/>
    </li>
    <li>
        <h3>Ortodoncia y Ortopedia</h3>

        <p>
            La ortodoncia es la especialidad de la odontología que se ocupa del diagnóstico, prevención y tratamiento de
            malposiciones dentarias y deformidades de los maxilares. Tiene como objetivo lograr estabilidad en la
            oclusión, una
            correcta función y salud bucodental asi como una adecuada estética, tanto dental comofacial.

        <p>Es importante tener unos dientes correctamente colocados en las arcadas dentarias, alineados y nivelados para
            lograr
            una buena salud bucal. Sólo un 10% de la población tiene una boca ideal y sana.
            Son muchas las patologías que se desarrollan o agravan por tener problemas demalposición (separación y/o
            apiñamiento) o de maloclusión (cuando no encajan los inferiores con los superiores). Estos problemas
            que afectan a
            la estética y a la función pueden ser solucionados a cualquier edad mediante ortodoncia, combinada o no con
            ortopedia o cirugía maxilofacial.</p>

        <p>Estas afectaciones no sólo se circunscriben a la cavidad bucal sino que afectan de una manera general al
            resto del
            organismo y se manifiestan dando las siguientes alteraciones:
            Alteraciones en la fonación, quien tenga un diente mal colocado o perdido siempre hablará mal.
            Alteraciones en la deglución, para la correcta deglución hay que cerrar bien la boca.
            Alteraciones en la masticación, si el alimento no está triturado, el estómago tendrá que cumplir una función
            que no
            le corresponde. El estómago debe mezclar, no triturar.
            Aparición de lesiones de caries que ocurren en un 90% en estos dientes por mayor acumulación de sarro y
            dificultades
            importantes en la higiene oral.</p>

        <p>Halitosis o mal olor de boca, e inflamación de las encías, comúnmente conocido como gingivitis.
            Además, si no ocluimos y no conseguimos un sellado labial correcto, alteramos la respiración adoptando las
            consecuencias que conllevan a la respiración oral.

        <p>Problemas de socialización y baja autoestima producidas por una mala estética facial y en la sonrisa.
            Y también, por supuesto, una mala alimentación conlleva a un deterioro del estado general y de la calidad de
            vida.</p>
    </li>
    <li>
        Periodoncia

        Este término se refiere al tratamiento de todos los problemas de las encías y el hueso que sostiene los dientes.
        Cada diente está enclavado en el hueso, unido fuertemente por una serie de estructuras que garantizan su
        fortaleza y
        correcto funcionamiento. En ocasiones, las estructuras que rodean y soportan al diente (encías y hueso), se ven
        afectadas de forma importante.  Esto desencadena un proceso degenerativo continuo, que progresa lentamente,
        hasta
        llegar a un estado avanzado en el que el diente se puede terminar perdiendo.  Antes de que esto suceda, los
        dientes
        van pasando por varias etapas bien definidas, desde una afectación leve hasta estados avanzados de pérdida
        dentaria.
        Este proceso se denomina periodontitis y es conocido vulgarmente como piorrea.

        La higiene oral es fundamental para tratar este tipo de problema.
        <img src="" alt=""/>
    </li>
    <li>
        6-Implantes dentales

        El implante dental es un tornillo de titanio que sustituye la raíz de un diente y que es aceptado por el
        organismo
        (hueso) como algo propio. De este modo, el hueso crece rápidamente alrededor de él, produciéndose una unión
        estable
        y duradera (oseointegración).


        Los implantes pueden sustituir un solo diente, algunos de ellos o todos. Actualmente y en ocasiones que lo
        permiten,
        se puede colocar el implante y el diente en el mismo día de la cirugía.
        Los implantes dentales se asemejan en función y estética a los dientes naturales.

        TIEMPOS DE TRATAMIENTO
        1º Examinar previamente la situación. Realizar una adecuada exploración y usar los métodos diagnósticos
        adecuados.
        2º Inserción del implante dental. En este momento podemos cubrir el implante con encía, si hemos realizado
        regeneración ósea, o colocar el diente provisional en el mismo momento del implante. Dientes inmediatos o
        dientes en
        un día es el nombre que recibe este procedimiento novedoso.
        3º Sino hemos colocado el diente el mismo día del implante, esperamos el tiempo necesario para que se produzca
        la integración ósea del implante, 3 meses, y se coloca un pilar de impresión. Se realiza una impresión del pilar
        ya
        colocado, se obtiene un modelo final sobre el cual se confecciona la corona perfectamente adaptada al pilar.

         <img src="" alt=""/>
    </li>
    <li>
        7-Prótesis dental
        La prostodoncia es la rama de la odontología que se encarga de reemplazar un diente, ya sea por ausencia,
        pérdida o
        imposibilidad de restauración, reestableciendo su forma, color y función.
        De acu erdo a la necesidad del paciente, el prostodoncista elige el tipo de prótesis, ya sea
        esta fija o removible.
        <ol>
            <li>
                A-Prótesis Fija:
                <ol>
                <li>
                <p>1.Coronas</p>
                <p>Las coronas nos ayudan a restaurar los casos con gran pérdida de estructura dentaria, la cual no puede
                ser
                restaurada mediante una obturación convencional. Las coronas son restauraciones que cubren toda la
                superficie
                del
                diente y son adheridas a este mediante un cemento específico.</p> 

                 <img src="" alt=""/>
                </li>
                <li>
                <p>2.Puentes</p>
                <p>En casos de pérdida unitaria o múltiple, lo dientes próximos a esta zona edentula (sin dientes), son
                preparados
                para
                luego cementar un puente que restaura los dientes perdidos</p>

                <img src="" alt=""/>
                </li>
                <li>
                <p> Incrustaciones</p>
                <p>Las incrustaciones dentales son restauraciones que se usan para reparar dientes posteriores que tienen
                caries de
                leve a moderada. También se pueden utilizar para restaurar los dientes que están agrietados o
                fracturados, si el
                daño no es tan importante como para requerir una corona dental.</p>
                <img src="" alt=""/>
                </li>
                <li>
                    <p>4. Carillas</p>
                <p>Son unas finas capas de porcelana, fabricadas a medida para cubrir la superficie frontal de los dientes
                y
                mejorar su
                apariencia.  Estas son adheridas a los dientes pudiendo cambiar su color, forma, tamaño o longitud. Las
                carillas
                tienen la capacidad de imitar la luz que refleja las propiedades de los dientes naturales implica y
                algunas de
                sus
                limitaciones</p>

                  <p>En algunos casos existe la posibilidad de no preparar el diente y adherir la carilla directamente
                sobre la
                superficie del diente.  En casos de preparación, se reducirá aproximadamente 0.3 mm de esmalte de la
                superficie
                del
                diente, que es una cantidad casi igual al espesor de la carilla. Luego, se hará un modelo de sus dientes
                mediante
                una impresión y este modelo se envía a un laboratorio dental especializado en carillas.
                Fabricadas a medida para cubrir la superficie frontal de los dientes y mejorar su apariencia</p>

                <img src="" alt=""/>
                    </li>
            </ol>
            </li>
            <li>B-Prótesis Removible

                Consisten en prótesis que el paciente puede retirar de la boca por si mismo.

                <img src="" alt=""/>

            </li>
        </ol>
    </li>

</ol>
{% endblock content %}

